$fontBold: 700
$fontRegular: 400
$fontSizeHeaders: 40px

.DF_JE
  display: flex
  justify-content: space-between  
.DI-B
  display: inline
.fz-19
  font-size: 19px
.margin-0_0_0_10
  margin: 0 0 0 10px
.margin-40px_0_0
  margin: 40px 0 0  
  
