$fontBold: 700
$fontRegular: 400
$fontSizeHeaders: 40px

.signIn
  margin: 146px 0 0

.signIn p
  font-weight: $fontRegular
  font-size: 14px
  line-height: 20px
  color: #696F8C

.signIn_hello
  text-align: center
  color: #304659

.signIn_text
  margin: 17px 0 0
  text-align: center

.signIn input
  width: 100%
  height: 52px

.inputEmail
  display: block
  margin: 10px 0 10px
  padding: 19px
  background: #F9FAFC
  border: 0.711017px solid #C1C4D6
  border-radius: 14.2203px

.passForm
  display: flex
  padding: 0 19px 0 0
  background: #f9fafc
  border: 0.711017px solid #C1C4D6
  border-radius: 14.2203px

.inputPassword
  padding: 19px
  background: #f9fafc
  border: none
  border-radius: 14.2203px

.recovery
  margin: 24px 0 0
  text-align: right

.button_signin
  width: 100%
  margin: 40px 0 26px
  padding: 17px
  text-align: center
  box-shadow: 0px 5.68814px 11.3763px rgba(58, 106, 213, 0.2)
  border-radius: 14.22px
  border: none
  font-size: 14px
  line-height: 16px

.button_signin-disable
  background: #F9FAFC
  color: #304659

.button_signin-active
  background: #3A6AD5
  color: #ffffff

.havenotAcc
  margin: 24px 0 0 
  text-align: center
  
.signup
  margin: 0 0 0 5px
  color: #3A6AD4
  
@media (max-width: 428px) 
  
  .signIn
    margin: 146px 0 0

  .signIn p
    font-weight: $fontRegular
    font-size: 14px
    line-height: 20px
    color: #696F8C

  .signIn_hello
    text-align: center
    color: #304659

  .signIn_text
    margin: 17px 0 0
    text-align: center

  .signIn input
    width: 100%
    height: 52px
  
  .inputEmail
    display: block
    margin: 10px 0 10px
    padding: 19px
    background: #F9FAFC
    border: 0.711017px solid #C1C4D6
    border-radius: 14.2203px

  .passForm
    display: flex
    padding: 0 19px 0 0
    background: #f9fafc
    border: 0.711017px solid #C1C4D6
    border-radius: 14.2203px

  .inputPassword
    padding: 19px
    background: #f9fafc
    border: none
    border-radius: 14.2203px
  
  .recovery
    margin: 24px 0 0
    text-align: right

  .button_signin
    width: 100%
    margin: 40px 0 26px
    padding: 17px
    text-align: center
    box-shadow: 0px 5.68814px 11.3763px rgba(58, 106, 213, 0.2)
    border-radius: 14.22px
    border: none
    font-size: 14px
    line-height: 16px

  .button_signin-disable
    background: #F9FAFC
    color: #304659

  .button_signin-active
    background: #3A6AD5
    color: #ffffff

  .havenotAcc
    margin: 24px 0 0 
    text-align: center
    
  .signup
    margin: 0 0 0 5px
    color: #3A6AD4