$fontBold: 700
$fontRegular: 400
$fontSizeHeaders: 40px

@media (max-width: 428px)
  .singleHotelPhoto
    width: 100%
    height: 260px
    margin: 96px 0 0
    border-radius: 0px 0px 14.7091px 14.7091px 
  
  .EditPadding
    padding: 24px 28px !important

  .DF_JS_AC
    display: flex
    justify-content: space-between
    align-items: center

  .hotelTextDescription
    font-weight: $fontRegular
    font-size: 14px
    line-height: 24px
    color: #696F8C
  
  .margin24
    margin: 24px 0 0