$fontBold: 700
$fontRegular: 400
$fontSizeHeaders: 40px
  
@media (max-width: 428px) 
  .rotate90SVG
    transform: rotate(90deg)

  .rotate270SVG
    transform: rotate(270deg)

  .react-calendar__navigation
    display: flex
    margin: 0 0 24px
    border: none
    background-color: #fff

  .react-calendar__navigation__label
    border: none
    background-color: #fff
    font-weight: $fontBold
    font-size: 17px
    line-height: 24px
    color: #304659

  .react-calendar__navigation__arrow
    width: 34px
    height: 34px
    font-size: 15px
    border: none
    background-color: #fff

  .react-calendar__month-view__weekdays
    margin: 0 0 15px
    text-align: center
    font-weight: $fontRegular
    font-size: 15px
    line-height: 24px
    color: #304659

  .react-calendar__tile
    height: 28px
    margin: 0 0 19px
    border: none
    background-color: #fff
    font-weight: $fontRegular
    font-size: 15px
    line-height: 24px
    color: #304659

  .react-calendar__tile--active
    width: 28px
    background-color: #3A6AD5
    color: #fff
    border-radius: 0

  .react-calendar__month-view__days__day--neighboringMonth
    color: #BDBDBD

  .DF_JA_AC
    display: flex
    justify-content: space-around
    align-items: center

  .calendarButton
    padding: 12px 34px
    background: #3A6AD5
    border: none
    border-radius: 2.84px
    font-weight: $fontBold
    font-size: 14px
    line-height: 16px
    color: #fff

  .canselButton
    padding: 12px 34px
    background: #fff
    border: none
    font-weight: $fontBold
    font-size: 14px
    line-height: 16px
    color: #696F8C
