.main-carousel-container
  width: 1100px

.window
  width: 100%
  overflow: hidden

.all-sliders-container
  display: flex

@media (max-width: 428px) 
  .main-carousel-container
    width: 100%
  
  .next,.prev
    position: absolute
    top: 97px
    width: 50%
    height: 260px

  .next
    right: 0

  .prev
    left: 0
    z-index: 10
  