.main-carousel-container
  max-width: 1300px
  margin: 0 auto

.window
  position: relative
  width: 100%
  overflow: hidden

.all-sliders-container
  display: flex
  
.next,.prev
  position: absolute
  top: 80px
  width: 50%
  height: 550px

.next
  right: 0

.prev
  left: 0
  z-index: 10

@media (max-width: 428px) 
  .main-carousel-container
    width: 100%
  
  .next,.prev
    position: absolute
    top: 97px
    width: 50%
    height: 260px

  // .next
  //   right: 0

  // .prev
  //   left: 0
  //   z-index: 10
  