$fontBold: 700
$fontRegular: 400
$fontSizeHeaders: 40px

.DF
  display: flex
  align-items: center

.color-696F8C
    color: #696F8C 

// @media (max-width: 428px)
.width-100
  width: 100%
.fw-Bold
  font-weight: $fontBold
.fz-17 
  font-size: 17px
.fz-13
  font-size: 13px
.lh-16
  line-height: 16px 
.color-304659
  color: #304659 
.color-696F8C
  color: #696F8C 
.color-ffffff
  color: #ffffff
.BG-F9FAFC
  background: #C1C4D6 
.BG-3A6AD5
  background: #3A6AD5
.boxShadow-0_5_11
  box-shadow: 0px 5.68814px 11.3763px rgba(58, 106, 213, 0.2)
.padding-5
  padding: 5px
.padding-15
  padding: 15px
.DF
  display: flex
.br_radius-284
  border-radius: 2.84px
.br_radius-14
  border-radius: 14.22px
.br-none
  border: none
.margin-0_22
  margin: 0 22px
.margin-0_0_24
  margin: 0 0 24px
.margin-24_0_0
  margin: 24px 0 0
.margin-0_0_0_50
  margin: 0 0 0 50px
.margin-0_2_0
  margin: 5px 2.5px 0 !important
