$fontBold: 700
$fontRegular: 400
$fontSizeHeaders: 40px
	
@media (min-width: 800px)
	.hotels
		margin: 120px 0 0

	.w-100
		width: 100%

	.color-red
		color: #FF5E60 !important

	.propertisSearch
		margin: 0 0 5px
		font-weight: 400
		font-size: 14px
		line-height: 16px
		color: #304659

	.hotels_list section
		display: flex 
		justify-content: space-between
		position: relative
		max-width: 914px
		margin: 24px 0 0
		background: #F9FAFC
		border: 0.711017px solid #C1C4D6
		border-radius: 14.2203px

	.direction
		font-weight: $fontBold
		font-size: 27.4286px
		line-height: 31px
		color: #304659

	.found
		margin: 32px 0 0 
		font-weight: $fontRegular
		font-size: 22px
		line-height: 31px
		color: #304659

	.singleItemInList
		border-radius: 14.22px !important
		object-fit: cover

	.desk_plug_hotel
		width: 311px
		height: 220px

	.hotel_info
		padding: 19px

	.desk_hotel_rating
		display: flex
		justify-content: end
		width: 130px
		font-size: 14px
		line-height: 20px
		color: #696F8C
	
	.DeskGood
		float: right
		display: flex
		justify-content: center
		padding: 5px 15px
		margin: 7px 0 0 
		background: rgba(58, 106, 213, 0.05)
		border: 1px solid #3A6AD5
		border-radius: 4px
		font-weight: $fontRegular
		font-size: 14px
		line-height: 16px
		color: #304659

	.nights
		display: flex
		justify-content: end
		width: 130px
		margin: 55px 0 0 
		font-weight: $fontRegular
		font-size: 14px
		line-height: 24px
		color: #696F8C
	
	.peopleGuestStyle
		display: flex
		justify-content: end
		font-weight: $fontRegular
		font-size: 14px
		line-height: 24px
		color: #696F8C

	.total_prise
		display: flex
		justify-content: end
		font-weight: 700
		font-size: 18px
		line-height: 24px
		color: #3A6AD5

	.show_now
		display: flex
		justify-content: center
		align-items: center
		padding: 12px 20px
		margin: 18px 0 0 
		background: #3A6AD5
		box-shadow: 0px 5.68814px 11.3763px rgba(58, 106, 213, 0.2)
		border-radius: 14.22px
		border: none
		font-weight: $fontBold
		font-size: 17px
		line-height: 16px
		color: #fff

	.desk_hotel_name
		font-weight: $fontBold
		font-size: 22px
		line-height: 24px
		color: #304659

	.desk_hotel_local
		margin: 15px 0 0 
		font-weight: $fontRegular
		font-size: 16px
		line-height: 24px
		color: #696F8C

	.hotel_booking
		display: flex
		justify-content: space-between
		margin: 10px 0 0 

	.bookNow
		padding: 10px 30px
		background: #3A6AD5
		box-shadow: 0px 5.68814px 11.3763px rgba(58, 106, 213, 0.2)
		border-radius: 14.22px
		border: none
		font-weight: $fontBold
		color: #fff

	.favorite
		position: absolute
		top: 10px
		right: 10px

	.S_None
		display: none
		
	.S_Active
		display: block !important

	.NothingFound
		margin: 40px 0 0
		text-align: center
		font-size: 20px
		font-weight: $fontBold
		color: #304659  

	.calendarS
		position: absolute
		top: 140px
		z-index: 102
		box-shadow: 0px 5.68814px 11.3763px #7070703d
		border-radius: 14.2203px
		background-color: #fff