$fontBold: 700
$fontRegular: 400
$fontSizeHeaders: 40px

@media (max-width: 428px) 

  .logo
    font-size: 16px

  .container
    padding: 31px 28px
    width: 100%
    margin: 0 auto

  .background
    background: url('./image/Rectangle.jpg')
    background-size: cover
    margin-left: -45vw
    height: 110vw

  .profile
    display: flex
    justify-content: space-around
    align-items: center
    width: 68.25px
    height: 39px
    border: 0.75px solid #FFFFFF
    border-radius: 19.5px

  .menu
    padding: 3px 0 0 5px

  .hello
    position: absolute
    top: 13vh
    
  .hello h1
    font-size: $fontSizeHeaders
    font-weight: 700
    line-height: 48px
    color: #FFFFFF
    text-align: center
    margin: 0 0 24px

  .hello p
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #FFFFFF
    text-align: center
    margin: 0 0 24px

  .hello-search
    width: 100%
    padding: 14px 36px
    box-shadow: 0px 4.82171px 5.62532px rgba(67, 83, 138, 0.06)
    border-radius: 12.0543px
    border: none
    background-image: url('./image/search.svg') 
    background-repeat: no-repeat
    background-size: 15px
    background-position: 12px 14px
    
  .hello-search::placeholder 
    font-weight: $fontRegular
    color: #C1C4D6

  main
    margin: 40px 0 0
    
  .table_of_contents
    font-size: 20px  
    line-height: 24px
  
  .text
    margin: 5px 0 0
    line-height: 24px
    color: #696F8C

  .list-stays
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 24px
    overflow: scroll
    margin: 10px 0 40px 31px

  .list-stays section
    width: 222px
    display: inline-flex
    align-items: center
    background: #F9FAFC
    border: 0.711017px solid #C1C4D6
    border-radius: 14.2203px
    padding: 11px 0 11px 21px

  .plug
    margin: 0 11px 0 0
  
  .place-text h1
    font-size: 20px
    line-height: 24px

  .place-text p
    margin: 5px 0 0
    font-size: 12px
    line-height: 16px
    color: #696F8C

  .more_travel
    display: flex
    overflow: scroll
    margin: 10px 0 40px 31px

  .more_travel section
    margin: 0 24px 0 0
    text-align: center

  .more_travel h1
    margin: 11px 0 0
    font-weight: $fontBold
    font-size: 17.0644px
    line-height: 23px

  .more_travel p
    margin: 5px 0 0
    font-size: 12.7983px
    line-height: 17px
    color: #696F8C

  .popular
    display: flex
    justify-content: space-between
    align-items: center

  .explore_all
    display: flex
    align-items: center
    padding: 11px 13px
    border: 0.863547px solid #3A6AD5
    border-radius: 3.30769px
    background-color: #ffff
    font-size: 12px
    line-height: 13px
    color: #3A6AD5

  .explore_all p
    margin: 0 5px 0 0

  .tile
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr 0.5fr 0.5fr
    grid-template-areas: 'East East' 'Chicago Texas' 'Florida Florida'
    grid-gap: 11px
    padding: 17px 10px
    margin: 37px 0 0
    background-color: #F6F6F6
    border-radius: 8px

  .tile section
    position: relative

  .tile img
    width: 100%

  .blure
    position: absolute
    bottom: 0
    width: 100%
    padding: 11px 
    border-bottom-left-radius: 8px 
    border-bottom-right-radius: 8px 
    background: rgba(255, 255, 255, 0.2)
    backdrop-filter: blur(36.4865px)
    color: #fff

  .blure h1
    margin: 0 0 4px
    font-size: 16px
    line-height: 20px

  .blure p
    font-size: 13px
    line-height: 14px